/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font-family);
  font-variation-settings: 'wght' var(--text-font-weight);
  background-image: var(--background-gradient);
  background-size: cover;
  background-attachment: fixed;
}

.content-block {
  min-block-size: 368px;
  inline-size: var(--block-width);
  background-color: #fff;
  /*центрируем*/
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  outline: 2px solid #000;
}

.header {
  margin: 100px auto;
  display: flex;
  flex-direction: center;
  align-items: center;
  gap: 20px;
}

.header__logo {
  font-family: var(--font-accent);
  font-weight: 400;
  font-style: normal;
  font-size: clamp(49px, 1.5vw + 43.37px, 65px);
}

.header__text {
  font-family: var(--font-accent);
  font-weight: 400;
  font-style: normal;
  font-size: clamp(14px, 0.8451vw + 10.83px, 23px);
  text-transform: uppercase;
}