/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font-family);
  font-variation-settings: 'wght' var(--text-font-weight);
  background-image: var(--background-gradient);
  background-size: cover;
  background-attachment: fixed;
}

.content-block {
  min-block-size: 368px;
  inline-size: var(--block-width);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  /*центрируем*/
  margin: 0 auto;
  border: var(--accent-outline);
}

.header {
  margin: 100px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.header__logo {
  font-family: var(--font-accent);
  font-weight: 400;
  font-style: normal;
  font-size: clamp(49px, 1.5vw + 43.37px, 65px);
}

.header__text {
  font-family: var(--font-accent);
  font-weight: 400;
  font-style: normal;
  font-size: clamp(14px, 0.8451vw + 10.83px, 23px);
  text-transform: uppercase;
}

.card {
  margin-bottom: 50px;
}

.card :not(:first-child) {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.card__heading {
  padding: 4px 10px;
  font-family: var(--main-font-family);
  font-variation-settings: 'wght' var(--heading-font-weight);
  font-size: var(--card-text-size);
}

.card__image-wrapper {
  position: relative;
  block-size: 100%;
  margin: 0;
}

.card__image-content {}

.card__image-label {
  font-family: var(--font-accent);
  font-size: 14px;
  line-height: 100%;
  position: absolute;
  top: 27px;
  right: 25px;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow: -1px -1px 0 #fff,
    0px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 0px 0 #fff,
    1px 0px 0 #fff,
    -1px 1px 0 #fff,
    0px 1px 0 #fff,
    1px 1px 0 #fff;
}

@supports (-webkit-text-stroke: 1px solid #fff) {
  .card__image-label {
    -webkit-text-stroke: 1px solid #fff;
    text-shadow: none;
  }
}

.card__text {
  font-family: var(--main-font-family);
  font-variation-settings: 'wdth' var(--text-font-weight);
  font-size: var(--card-text-size);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 25px;
  margin: 25px 25px;
}

.card__action {
  align-self: end;
  margin: 0px 25px 25px 0px;
}

.card__like-button {
  all: initial;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

.button__text {
  font-family: var(--font-accent);
  font-size: 14px;
  line-height: 90%;
  text-transform: capitalize;
  border: var(--accent-outline);
  padding: 11px 35px;
}

.footer {
  display: flex;
  justify-content: center;
}

.save-button {
  all: initial;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  border: var(--accent-outline);
  padding: 16px 18px;
  background-color: #fff;
}

.save-button__text {
  font-family: var(--font-accent);
  font-size: var(--accent-text-size);
}