/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-font-family: 'Inter-Variable', inter;
    --font-accent: 'PressStart2P', inter;
    --heading-font-weight: 715;
    --text-font-weight: 410;
    --card-text-size: 18px;
    --accent-text-size: 14px;
    --background-gradient: repeating-linear-gradient(to right, #d3d3d3 0px, #d3d3d3 2px, transparent 2px, transparent 4px),
        repeating-linear-gradient(to bottom, #d3d3d3 0px, #d3d3d3 2px, transparent 2px, transparent 4px),
        linear-gradient(to bottom, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
    --block-width: clamp(375px, 30.52vw + 260.55px, 700px);
    --accent-outline: 2px solid black;
    --dialog-width: minmax(341px, 353px);
    --color-accent: #000;
    --text-color-accent: #fff;
    --heart-countur-color: #000;
    --heart-animation-fill-color: #f00;

    @media (width <=375px) {
        --block-width: 100%;
    }
}